doctype html
html
    head
        title #{title} - Book Exchange
        link(rel='stylesheet', href='/css/style.css')
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
     
          
    body 
        block content
          h1 Welcome to Book Exchange
          p Find and exchange books easily.
          a(href="/users/login") Login
          a(href="/users/register") Register
